@model AppGestionEMS.Models.Evaluacion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Evaluacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradeEx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeEx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradePr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradePr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeConvocatoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeConvocatoria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
