@model AppGestionEMS.Models.AsignacionDocente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AsignacionDocente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
